@import '../../commonStyles.scss';

.formInput__container{
    position: relative;
   
    .formTextArea{
        background: none;
        border: none;
        border-bottom: 1px solid;
        padding: 5px 10px 3px;
        font-size: 20px;
        margin: 15px 0;
        width: 100%;
        
    
        &:focus{
            outline: none;
        }

        &:focus ~ .formInput__title{
            @include ShrinkLabel;
        }
    }

    .formInput__title{
        font-size: 20px;
        font-weight: 600;
        position: absolute;
        top: 20px;
        left: 0;
        transition: all 0.3s ease-in-out;

        &.shrink {
            @include ShrinkLabel;
        }
    }

}
