*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img{
  width: 100%;
  height: 100%;
}

.mb-15px{
  margin-bottom: 15px;
}

.ml-10px{
  margin-left: 10px;
}

.ml-20px{
  margin-left: 20px;
}

.pAll-20px-15{
  padding: 20px 15px;
}

.bb-1px-solid-black {
  border-bottom: 1px solid black;
}